.mainDiv{
    background-color: white;
    position: absolute;
    border : 1px solid black;
    border-radius: 20px;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-top: 50px;
    text-align: center;
    padding: 15px;

    /* background-image: linear-gradient(45deg , black , white); */
    overflow: hidden;
}
